[Desktop Entry]
Comment=
Exec=altair_dm.sh
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/altair.png
Name=Altair DM
NoDisplay=false
StartupNotify=true
Type=Application
