[Desktop Entry]
Comment=
Exec=showBootBars
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/bb.png
Name=Boot Bars
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
