[Desktop Entry]
Comment=
Exec=dhscon
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/dhs.png
Name=DHS
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
