[Desktop Entry]
Comment=
Exec=dhscon
Icon=/home/telops/.local/share/icons/dhs.png
Name=DHS
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
