[Desktop Entry]
Comment=
Exec=ecs_dm.sh
Icon=/home/telops/.local/share/icons/ecs.png
Name=ECS
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
