[Desktop Entry]
Comment=
Exec=fps_dm.sh
Icon=setroubleshoot_icon
Name=FPS
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
