[Desktop Entry]
Comment=
Exec=gcal_dm.sh
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/gcal.png
Name=GCAL
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
