[Desktop Entry]
Exec=xterm -e 'BOKEH_BROWSER=firefox bokeh serve --show /home/telops/sciops/gempyops/scripts/GuidanceEnvironmentalPlotter'
Icon=/home/telops/sciops/gempyops/scripts/GuidanceEnvironmentalPlotter/static/favicon.png
Name=GEP
NoDisplay=false
StartupNotify=true
Type=Application
