[Desktop Entry]
Comment=
Exec=ghSDstart
Icon=/home/telops/.local/share/icons/ghsd.png
Name=GHSD
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
