[Desktop Entry]
Comment=
Exec=ghSDstart
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/ghsd.png
Name=GHSD
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
