[Desktop Entry]
Comment=
Exec=gmosISD
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/gmos-red.png
Name=GMOS ISD
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
