[Desktop Entry]
Comment=
Exec=gmosISD
Icon=/home/telops/.local/share/icons/gmos-red.png
Name=GMOS ISD
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
