[Desktop Entry]
Comment=
Exec=gnirsISD
Icon=/home/telops/.local/share/icons/gnirs-red.png
Name=GNIRS ISD
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
