[Desktop Entry]
Comment=
Exec=iocstats scs
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/scs.png
Name=SCS
NoDisplay=false
Path[$e]=
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
