[Desktop Entry]
Comment=
Exec=iocstats gis
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/gis.png
Name=GIS
NoDisplay=false
Path[$e]=
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
