[Desktop Entry]
Comment=
Exec=iocstats ag
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/ag.png
Name=A&G
NoDisplay=false
Path[$e]=
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
