[Desktop Entry]
Comment=
Exec=iocstats tcs
Icon=/home/telops/.local/share/icons/tcs.png
Name=TCS
NoDisplay=false
Path[$e]=
StartupNotify=false
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
