[Desktop Entry]
Comment=
Exec=startiraf
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/iraf-logo_invblack.png
Name=IRAF
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
