[Desktop Entry]
Comment=
Exec=lgsao.sh
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/lgsao.png
Name=LGSAO
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
