[Desktop Entry]
Comment=
Exec=lis_dm.sh
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/lis.png
Name=LIS
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
