[Desktop Entry]
Comment=
Exec=lse_dm.sh
Icon=/home/telops/.local/share/icons/lse.png
Name=LSE
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
