[Desktop Entry]
Comment=
Exec=lse_dm.sh
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/lse.png
Name=LSE
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
