[Desktop Entry]
Exec=firefox "http://gnltts.hi.gemini.edu:8080/ltts/app#!alarms"
Icon=google-chrome
Name=LTTS
NoDisplay=false
StartupNotify=true
Type=Application
