[Desktop Entry]
Comment=
Exec=nifs_dm.sh
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/nifs.png
Name=NIFS DM
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
