[Desktop Entry]
Comment=
Exec=nifsISD
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/nifs-red.png
Name=NIFS ISD
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
