[Desktop Entry]
Comment=
Exec=niriISD
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/niri-red.png
Name=NIRI ISD
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
