[Desktop Entry]
Comment=
Exec=iroiwfs_dm.sh
Icon=/home/telops/.local/share/icons/oiwfs.png
Name=OIWFS (NIFS)
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
