[Desktop Entry]
Comment=
Exec=oiwfs-niri_dm.sh
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/oiwfs.png
Name=OIWFS (NIRI)
NoDisplay=false
StartupNotify=true
Type=Application
