[Desktop Entry]
Comment=
Exec=pwfs2_dm.sh
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/pwfs2.png
Name=PWFS2
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
