[Desktop Entry]
Comment=
Exec=startpyraf
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/pyraflogo_rgb_web.png
Name=PyRAF
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
