[Desktop Entry]
Comment=
Exec=startqap-xterm
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/qap.png
Name=QAP Terminal
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
