[Desktop Entry]
Comment=
Exec=startqap
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/qap.png
Name=QAP
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
