[Desktop Entry]
Comment=
Exec=qpt
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/qpt.png
Name=QPT
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
