[Desktop Entry]
Comment=
Exec=firefox "internal.gemini.edu/science/GNqueue/qpt-plans/tonight.html"
Icon=google-chrome
Name=Queue Plan
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
