[Desktop Entry]
Comment=
Exec=scs_dm.sh
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/scs.png
Name=SCS
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
