[Desktop Entry]
Comment=
Exec=/gemsoft/opt/ssaTools/scripts/showstrip
Name=StripTool
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
