[Desktop Entry]
Comment=
Exec=tcsMK_dm.sh
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/tcs.png
Name=TCS
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
