[Desktop Entry]
Comment=
Exec=python2 /home/telops/sciops/gempyops/scripts/TelescopeHealthStatus/THS.py
GenericName=
Icon=/home/telops/sciops/gempyops/scripts/TelescopeHealthStatus/Gemini_THS.png
Name=THS
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
