[Desktop Entry]
Comment=
Exec=tsd
Icon=/usr/share/cinnamon/applets/gmenu@noirlab.edu/icons/tsd.png
Name=TSD
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
