[Desktop Entry]
Comment=
Exec=ssh telops@mkotelops-lv1 'tsrs'
Name=TSRS
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
