[Desktop Entry]
Hidden=false
Exec=
Icon=
Type=Application
NoDisplay=false
Version=1.0
StartupNotify=false
StartupWMClass=
GenericName[en_US]=
Comment=
DBusActivatable=false
Terminal=false
Name=
GenericName=
Icon[en_US]=
Name[en_US]=
Comment[en_US]=
