[Desktop Entry]
Comment=
Exec=xterm -e 'BOKEH_BROWSER=firefox bokeh serve --port 5008 --show /home/telops/perm/bin-sos/WFSSkyMonitor'
Icon=/home/telops/sciops/gempyops/scripts/WFSSkyMonitor/static/favicon.png
Name=WFS Sky Monitor
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
