[Desktop Entry]
Comment=
Exec=xterm
Icon=xterm-color
Name=xterm
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
